* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix{
  clear:both;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  color:rgb(255, 255, 255);
  font-family:Helvetica, serif;
  font-weight:100;
  background-image:url("http://grapesjs.com/img/bg-gr-v.png"), url("http://grapesjs.com/img/work-desk.jpg");
  background-attachment:scroll, scroll;
  background-position-x:left, center;
  background-position-y:top, center;
  background-repeat:repeat-y, no-repeat;
  background-size:contain, cover;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
}
.menu{
  float:right;
  width:50%;
}
.lead-title{
  margin-top:150px;
  margin-right:0px;
  margin-bottom:30px;
  margin-left:0px;
  font-size:40px;
}
.footer-under{
  background-color:rgb(49, 40, 51);
  padding-bottom:100px;
  padding-top:100px;
  min-height:500px;
  color:rgb(238, 238, 238);
  position:relative;
  font-weight:100;
  font-family:Helvetica, serif;
}
.copyright{
  background-color:rgba(0, 0, 0, 0.15);
  color:rgba(238, 238, 238, 0.5);
  bottom:0px;
  padding-top:1em;
  padding-right:0px;
  padding-bottom:1em;
  padding-left:0px;
  position:absolute;
  width:100%;
  font-size:0.75em;
}
.foot-social-btns{
  display:none;
  float:right;
  width:50%;
  text-align:right;
  padding-top:5px;
  padding-right:0px;
  padding-bottom:5px;
  padding-left:0px;
}
.footer-container{
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:space-around;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
  .row{
    flex-wrap:wrap;
  }
}
